/* Global styles */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}

/* Main container */
.container-todo-list{
    padding: 3rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    max-width: 25%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    border-radius: 2rem;
}

.container-header{
    padding: 1rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    word-wrap: break-word;
}

.container-header h1{
    color: rgb(3, 3, 44);
    font-weight: 800;
}

.info-counter-tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.info-counter-tasks i{
    color: rgb(3, 3, 44);
    font-size: 1.2rem;
}

.container-input{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.container-input i{
    font-size: 1.6rem;
    color: orangered;
    display: flex;
    align-items: center;
    transform: scale(1);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.container-input i:hover{
    transform: scale(1.1);
}

.container-input input{
    padding: 1.4rem;
    width: 100%;
    background-color: #ecececc7;
    border: none;
    border-radius: 3rem;
    color: gray;
    font-size: 1rem;
    outline: none;
    background: #f1f3f5;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 3px rgba(100, 149, 237, 0.3);
}

.container-tasks{
    padding: 1rem;
    width: 100%;
}

#info-tasks{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 0.9rem;
    color: gray
}

.task-content{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    flex: 1;
}

input[type="checkbox"]{
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
  background-color: orangered;
  border-color: orangered;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); /* crea el ✔ */
}

.container-info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.tasks-list li{
    width: 95%;
    list-style-type: none;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.tasks-list li img{
    width: 1rem;
    height: 1rem;
}

.tasks-list i:hover{
    color: red;
    transition: 0.3s;
    cursor: pointer;
}

/* Media queries */
@media (max-width:1250px){
    .container-todo-list{
        max-width: 45%;
    }
}

@media (max-width:1000px){
    .container-todo-list{
        max-width: 50%;
    }
}

@media (max-width:650px){
    .container-todo-list{
        max-width: 70%;
    }
}

@media (max-width:450px){
    .container-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
    }
    .container-input{
        width: 100%;
        justify-content: space-between;
    }
    .container-tasks{
        padding: 0;
    }
    #info-tasks{
        justify-content: center;
        align-items: center;
    }

}

